<mat-grid-list cols="1" rowHeight="2:1" rows="1">
  <mat-grid-tile>
    <mat-card *ngIf="currentUser == null" class="profile-card">
      <mat-card-header>
        <mat-card-title>Login/Register</mat-card-title>
        <mat-card-subtitle>Devnet</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>

        <mat-tab-group mat-stretch-tabs>
          <mat-tab label="LOGIN">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Email</mat-label>
              <input [(ngModel)]="email" matInput placeholder="Email" type="email" value="">
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Password</mat-label>
              <input [(ngModel)]="password" matInput placeholder="Password" type="password">
              <mat-icon matSuffix>vpn_key</mat-icon>
            </mat-form-field>
            <button (click)="login()" color="primary" mat-button>Login</button>
          </mat-tab>

          <mat-tab label="REGISTER">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Email</mat-label>
              <input [(ngModel)]="email" matInput placeholder="Email" type="email" value="">
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Username</mat-label>
              <input [(ngModel)]="username" matInput placeholder="Username" type="email" value="">
              <mat-icon matSuffix>person</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Password</mat-label>
              <input [(ngModel)]="password" matInput placeholder="Password" type="password">
              <mat-icon matSuffix>vpn_key</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Confirm password</mat-label>
              <input [(ngModel)]="confirm_password" matInput placeholder="Confirm password" type="password">
              <mat-icon matSuffix>vpn_key</mat-icon>
            </mat-form-field>
            <button (click)="register()" color="primary" mat-button>Register</button>
          </mat-tab>
        </mat-tab-group>


      </mat-card-content>

    </mat-card>
  </mat-grid-tile>
</mat-grid-list>


