<div class="home-left">
  <div *ngFor="let item of users">
      <mat-card class="card-home-left">
        <mat-card-header>
          <div class="header-image" mat-card-avatar></div>
          <mat-card-title style="margin-top: 10px">{{item.username}}</mat-card-title>
        </mat-card-header>
        <div *ngIf="item.follow == false">
          <button id="follow" (click)="follow(item)" mat-button>Follow</button>
        </div>
        <div *ngIf="item.follow == true">
          <button id="unfollow" (click)="unfollow(item)" mat-button>Unfollow</button>
        </div>
      </mat-card>
    </div>
</div>
