<div class="home-center">

  <form class="example-form">
    <mat-form-field appearance="fill" class="example-full-width">
      <mat-label>Leave a comment</mat-label>
      <input [(ngModel)]="message" matInput name="text-comment" placeholder="Ex. It makes me feel..." type="text">
    </mat-form-field>
    <button (click)="printMessage()" class="send-button" color="primary" mat-fab>
      <mat-icon>send</mat-icon>
    </button>
  </form>


  <div *ngFor="let item of comments">
    <mat-card class="card-home-center">
      <mat-card-header routerLink="/user/{{item.userId}}" style="padding-bottom: 10px">
        <div *ngIf="item.userImage == null" mat-card-avatar>
          <div class="header-image" mat-card-avatar></div>
        </div>
        <div *ngIf="item.userImage != null" mat-card-avatar>
          <img [src]="sanitize(item.userImage)" mat-card-avatar>
        </div>
        <mat-card-title>{{item.userName}}</mat-card-title>
        <mat-card-subtitle>DONE</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          {{item.commentMessage}}
        </p>
      </mat-card-content>

    </mat-card>
  </div>
</div>
