<mat-sidenav-container >
  <mat-sidenav #sidenav mode="over" [(opened)]="opened">
    <a routerLink="/ide">Ide</a>
  </mat-sidenav>

  <mat-sidenav-content>

      <mat-toolbar color="primary">
        <button (click)="sidenav.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
        <!-- <span>Devnet</span> -->
        <a routerLink="/">Devnet</a>
        <div class="example-spacer"></div>
        <!-- <span>Devnet</span> -->
        <a routerLink="/ide">Ide</a>
        <a routerLink="/users" style="margin: 12px;">Suggestions</a>

      </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
