.container {
  position: absolute;
  top: 65px;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}

.home-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.card-home-center {
  width: 500px;
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0, rgba(60, 64, 67, 0.15) 0 1px 3px 1px;
}

.header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.center {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.btn {
  background: #57a958;
  color: white;
  margin: 20px;
  padding: 10px 10px 10px 20px;
  border: 0;
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 1vw;
  min-width: 6vw;
  min-height: 3vw;
  font-size: 13px;
  cursor: pointer;
}
