<div class="container" style="text-align: center;">
  <div style="text-align: center; margin: 20px">
    <h2>Leaderboard</h2>
  </div>
  <div *ngIf="times.length == 0"
       style="position: absolute; top: 35%; right: 8.5%">
    <mat-spinner color="accent" strokeWidth="4" diameter="50"></mat-spinner>
  </div>
  <div *ngIf="times.length > 0">
    <div *ngFor="let item of times; index as i">
      <mat-card style="margin:10px">
        <mat-card-title style="font-size: 20px; cursor: pointer" (click)="goToUser(users[i].id)">
          {{i + 1}}
          <ng-template [ngIf]="i == 0 || i == 1 || i == 2" [ngIfElse]="elseIcon">
            <ng-template [ngIf]="i == 0">
              🥇
            </ng-template>
            <ng-template [ngIf]="i == 1">
              🥈
            </ng-template>
            <ng-template [ngIf]="i == 2">
              🥉
            </ng-template>
          </ng-template>
          <ng-template #elseIcon>
            🎖
          </ng-template>
          {{users[i] != undefined ? users[i].username : "Not specified"}}
        </mat-card-title>
        <mat-card-content style="margin-top: 10px; margin-bottom: 10px">
          <p>Exercises 📚 : {{item[1]}}  <span style="margin-left: 15px">Avg. time ⏱ : {{item[2].toFixed(3)}}s</span>
          </p>
        </mat-card-content>
      </mat-card>
      <!--
    <mat-card class="card-home">
      <mat-card-header>
        <mat-card-title>
          <div *ngIf="users[i] != undefined">
            {{users[i].username.charAt(0).toUpperCase() + users[i].username.slice(1)}}
          </div>
          <div *ngIf="users[i] == undefined">
            <i>Not specified</i>
          </div>
        </mat-card-title>
      </mat-card-header>
      <div>
        <p>{{item[1]}} {{item[2]}}</p>
      </div>
    </mat-card>-->
    </div>
  </div>
</div>
<!--
  routerLink="/user/{{item[0]}}"
<div *ngIf="users[i].image == null" mat-card-avatar>
  <div class="header-image" mat-card-avatar></div>
</div>
<div *ngIf="users[i].image != null" mat-card-avatar>
  <img [src]="sanitize(users[i].image)" mat-card-avatar alt="profile image">
</div>
<mat-card-title style="margin-top: 10px">{{users[i].username}}</mat-card-title>
-->
