<div class="home-center">
  <div *ngFor="let item of json">
    <mat-card class="card-home-center">
      <mat-card-header style="padding-bottom: 10px">
        <div class="header-image" mat-card-avatar></div>
        <mat-card-title>{{item.user.name}}</mat-card-title>
        <mat-card-subtitle>{{item.user.lastname}}</mat-card-subtitle>
      </mat-card-header>
      <div *ngIf="item.image != null">
        <img alt="Photo of a Shiba Inu" mat-card-image src="{{item.image}}">
      </div>
      <mat-card-content>
        <p>
          {{item.text}}
        </p>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
