.profile-card {
  max-width: 400px;
}

.full-width {
  width: 100%;
}

.mat-button {
  margin-top: 10px;
  width: 100%;
  color: white;
  height: 40px;
  background-color: #3F51B5;
}
.padding {

  margin-left: 400px;
  margin-right: 400px;
}

.card-img-top{
  height:300px;
  width: 100%;
}

.card {
  border-color: #d7dfe3;
  border-radius: 4px;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05)
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem
}

.pro-img {
  margin-top: -90px;
}

img.rounded {
  object-fit: cover;
  border-radius: 50%;
  height: 128px;
  width: 128px;
}

.little-profile .pro-img img {
  width: 128px;
  height: 128px;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 100%
}
.text-center {
  text-align: center !important
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #455a64;
  font-family: "Poppins", sans-serif;
  font-weight: 400
}


