<mat-grid-list cols="1" rows="1" rowHeight="2:1">
  <mat-grid-tile>
    <mat-card *ngIf="currentUser == null" class="profile-card">
      <mat-card-header>
        <mat-card-title>Login/Register</mat-card-title>
        <mat-card-subtitle>Devnet</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>

        <mat-tab-group mat-stretch-tabs>
          <mat-tab label="LOGIN">
            <mat-form-field class="full-width" appearance="fill">
              <mat-label>Email</mat-label>
              <input type="email" matInput placeholder="Email" value="" [(ngModel)]="email">
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>

            <mat-form-field class="full-width" appearance="fill">
              <mat-label>Password</mat-label>
              <input type="password" matInput placeholder="Password" [(ngModel)]="password">
              <mat-icon matSuffix>vpn_key</mat-icon>
            </mat-form-field>
            <button mat-button color="primary" (click)="login()">Login</button>
          </mat-tab>

          <mat-tab label="REGISTER">
            <mat-form-field class="full-width" appearance="fill">
              <mat-label>Email</mat-label>
              <input type="email" matInput placeholder="Email" value="" [(ngModel)]="email">
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>

            <mat-form-field class="full-width" appearance="fill">
              <mat-label>Username</mat-label>
              <input type="email" matInput placeholder="Username" value="" [(ngModel)]="username">
              <mat-icon matSuffix>person</mat-icon>
            </mat-form-field>

            <mat-form-field class="full-width" appearance="fill">
              <mat-label>Password</mat-label>
              <input type="password" matInput placeholder="Password" [(ngModel)]="password">
              <mat-icon matSuffix>vpn_key</mat-icon>
            </mat-form-field>

            <mat-form-field class="full-width" appearance="fill">
              <mat-label>Confirm password</mat-label>
              <input type="password" matInput placeholder="Confirm password" [(ngModel)]="confirm_password">
              <mat-icon matSuffix>vpn_key</mat-icon>
            </mat-form-field>
            <button mat-button color="primary" (click)="register()">Register</button>
          </mat-tab>
        </mat-tab-group>


      </mat-card-content>

    </mat-card>
    <div *ngIf="currentUser != null">
      <p>Connected !</p>
      <br>
      <button mat-raised-button color="warn" (click)="logout()">Logout</button>
    </div>
  </mat-grid-tile>
</mat-grid-list>


