<div class="padding">
  <div class="col-md-8">
    <div class="card"> <img class="card-img-top" src="https://i.imgur.com/bTIbBnY.jpeg" alt="Card image cap">

      <div class="card-body text-center">

        <div class="pro-img image-upload">
          <div *ngIf="user.image == null">
            <label for="file-input" mat-card-avatar>
              <img class="rounded" src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="user" mat-card-avatar>
            </label>
          </div>
          <div *ngIf="user.image != null" mat-card-avatar>
            <label for="file-input" mat-card-avatar>
              <img class="rounded" [src]="sanitize(user.image)" mat-card-avatar>
            </label>
          </div>
          <input id="file-input" type="file" (change)="onImageChanged($event)">
        </div>
        <h3 class="m-b-0">{{user?.username}}</h3>

        <mat-grid-list cols="4">
          <mat-grid-tile class="grid-content"></mat-grid-tile>
          <mat-grid-tile class="grid-content">
            <h3 class="font-light">{{user?.followers}}</h3><small (click)="openDialogFollower()"> Followers</small>
          </mat-grid-tile>
          <mat-grid-tile class="grid-content">
            <h3 class="font-light">{{user?.followings}}</h3><small (click)="openDialogFollowing()">Following</small>
          </mat-grid-tile>
          <mat-grid-tile class="grid-content"></mat-grid-tile>

        </mat-grid-list>

      </div>
    </div>
  </div>
</div>
<!--
<mat-grid-list cols="1" rowHeight="2:1" rows="1">
  <mat-grid-tile>
    <div *ngIf="currentUser != null">
      <p>Connected !</p>
      <br>
      <button (click)="logout()" color="warn" mat-raised-button>Logout</button>
    </div>
  </mat-grid-tile>
</mat-grid-list>
-->


