<mat-sidenav-container autosize class="container">
  <mat-sidenav mode="side" opened style="max-width: 30vw;">
    <div *ngFor="let ex of exercises; index as i" style="margin:20px">
      <button *ngIf="selectedExercise != undefined && selectedExercise.id == ex.id; else defaultDisplay"
              class="exercise-button" disabled mat-raised-button>
        <i class="devicon-nodejs-plain" *ngIf="ex.language == 'js'"></i><i class="devicon-python-plain"
                                                                           *ngIf="ex.language == 'py'"></i> {{ex.title}}
      </button>
      <ng-template #defaultDisplay>
        <button (click)="clickedExercise(ex, i)" class="exercise-button" mat-raised-button>
          <i class="devicon-nodejs-plain" *ngIf="ex.language == 'js'"></i><i class="devicon-python-plain"
                                                                             *ngIf="ex.language == 'py'"></i> {{ex.title}}
        </button>
      </ng-template>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="center">
      <div *ngIf="selectedExercise != undefined">
        <div style="width: 50vw; text-align: center">
          <h1>{{selectedExercise.title}}</h1>

          <br>
          <br>
          <br>

          <p>
            {{selectedExercise.description}}
          </p>
        </div>
        <ng-template [ngIfElse]="userSet" [ngIf]="currentUser == null">
          <a class="go-to-button" href="/auth" mat-raised-button>
            Login to continue
          </a>
        </ng-template>
        <ng-template #userSet>
          <a class="go-to-button" href="/exercise/{{selectedExercise.id}}" mat-raised-button>
            <mat-icon style="margin-right: 10px">assignment</mat-icon>
            Go to exercise
          </a>
        </ng-template>
        <mat-list class="likes-button" style="min-width: 10vw">
          <div *ngIf="leaderboard != undefined && leaderboard.length > 0">
            <mat-list-item *ngFor="let time of leaderboard.slice(0, 3); index as i" style="width: 100%">
              <button *ngIf="i == 0" disabled mat-flat-button style="width: 100%">
                🥇 {{time.time.toFixed(3)}}s
              </button>
              <button *ngIf="i == 1" disabled mat-flat-button style="width: 100%">
                🥈 {{time.time.toFixed(3)}}s
              </button>
              <button *ngIf="i == 2" disabled mat-flat-button style="width: 100%">
                🥉 {{time.time.toFixed(3)}}s
              </button>
            </mat-list-item>
          </div>
        </mat-list>
      </div>
      <div *ngIf="exercises != undefined && exercises.length >= 1 && selectedExercise == undefined">
        <div style="width: 50vw; text-align: center">
          There is no selected exercise :(
        </div>
      </div>

      <div *ngIf="exercises == undefined || exercises.length < 1">
        <div style="width: 50vw; text-align: center">
          There is no exercises
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
