.home {
  display: grid;
  grid-template-columns: 350px 1fr 350px;

}

.home__left {
  padding-top: 10px;
}

.home__center {
  padding-top: 10px;
  border-left: 1px lightgray solid;
  border-right: 1px lightgray solid;

}

.home__right {
}
